.container__index
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.container__index::before
{
    background-color: red;
    content: "";
    width: 25%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.inicio
{
    position: relative;
    width: 100%;
}

.inicio__content
{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.inicio__text
{
    width: 60%;
}

.inicio__text--msj
{
    font-size: 45px;
    line-height: 40px;
}

.inicio__text--descripcion
{
    font-size: 18px;
    padding-top: 1em;
    text-align: justify;
    width: 80%;
}

.inicio__boton
{
    display: flex;
    justify-content: space-between;
    padding-top: 1.5em;
    width:280px;
}

.inicio__boton--login
{
    border: 1.5px solid $rojo;
    background-color: $rojo;
    border-radius: 6px;
    color: white;
    padding: .5em 1.5em;
}

.inicio__boton--registro
{
    border: 1.5px solid $gris2;
    border-radius: 6px;
    color: #797979;
    padding: .5em 1.5em;
}

.inicio__fig
{
    height: 350px;
    overflow: hidden;
    width: 35%;
}

.inicio__picture
{
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
}