.opciones-manoDeobra
{
    display: flex;
    padding-top: 20px;
    // flex-direction: row-reverse;
    border-top: 0;
    width: 99.5%;
}

.opciones-manoDeobra a
{
    color: white;
    padding: 10px 20px;
    background-color: red;
    font-weight: bold;
}

.opciones-manoDeobra a:hover
{
    color: black;
}