.header
{
	position: relative;
	width: 100%;
}

.header__content
{
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	padding: 1.5em 0;
	width: 85%;
}

.header__fig
{
	width: 130px;
}

.header__picture
{
	width: 100%;
}

.header__menu
{
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 160px;
}

.header__item {  }

.header__item--a { color: white; }