.footer-perfil
{
    background-color: black;
    padding: 1em 0;
    width: 100%;
}

.footer-perfil div
{
    margin: 0 auto;
    width: 95%;
}

.footer-perfil div p
{
    color: white;
    font-weight: bold;
}