

table{
    overflow: hidden;
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 10px;
}

thead{
	background-color: black;
	color: white;
}
th{
    color: white;
}

tr:nth-child(even){
	background-color: #f2f2f2 ;
}

tr:hover td{
	background-color: #FBA8A8;
	color: white;
}